<header>
    <nav class=" font-body mx-auto flex space-x-14 items-center justify-end p-5 lg:px-16" aria-label="Global">
        
        <a href="#" class="text-2xl font-normal bg-clip-text text-transparent bg-gradient-to-r to-[#FF5FD2] from-[#B283FF] leading-7">Pricing</a>
        <a href="#" class="text-2xl font-normal bg-clip-text text-transparent bg-gradient-to-r to-[#FF5FD2] from-[#B283FF] leading-7">Gallary</a>
        <a href="#" class="text-2xl font-normal bg-clip-text text-transparent bg-gradient-to-r to-[#FF5FD2] from-[#B283FF] leading-7">Contact Us</a>
      
    </nav>
</header>
  