.sub-title{
    background: linear-gradient(92.05deg, #6100FF 2.25%, #FF00B8 82.08%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    text-fill-color: transparent;
}
.tier-name-style{
    background: linear-gradient(92.05deg, #A8A8A8 2.25%, #FFFFFF 48.23%, #A8A8A8 82.08%);
-webkit-background-clip: text;
-webkit-text-fill-color: transparent;
background-clip: text;
text-fill-color: transparent;
}

.money-style{
    background: linear-gradient(92.05deg, #B283FF 2.25%, #FF5FD2 82.08%);
-webkit-background-clip: text;
-webkit-text-fill-color: transparent;
background-clip: text;
text-fill-color: transparent;
}

.pricing-section{
    background: linear-gradient(
    to top,
  #292929 0%,
  #292929 30%,
  #242424 30%,
  #242424 100%
  );
}