.sub-title{
    background: linear-gradient(92.05deg, #6100FF 2.25%, #FF00B8 82.08%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    text-fill-color: transparent;
}